.main-content-wrapper {
    flex-grow: 1;
    overflow: hidden;
    background-color: #0000;
}

.page-slider {
    height: 100%;
    display: flex; 
    transition: transform 0.5s ease-in-out; 
}

.page-section {
    width: 100%; 
    min-width: 0;
    height: 100%;
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 30px;
    box-sizing: border-box;
}