body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.dashboard-layout-container {
    display: flex;
    height: 100vh; 
    width: 100vw; 
}
