.main-content-wrapper {
    flex-grow: 1;
    overflow: hidden;
    background-color: #0000;
}

.page-slider {
    height: 100%;
    display: flex; 
    transition: transform 0.5s ease-in-out; 
}

.page-section {
    width: 100vw; 
    height: 100%;
    flex-shrink: 0;
    overflow-y: auto; 
    padding: 30px;
    box-sizing: border-box;
}